.button-widget {
    position: fixed;
    top: 120px;
    right: 20px;
    z-index: 1000;
  }

  .geojson-toggle {
    background-color: white;
    border: 2px solid blue;
    padding: 5px 10px;
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 1000;
    border-radius: 5px;
  }

  .modal-label {
    display: flex;
    justify-content: space-between;
  }

  .modal-string {
    margin-left: 5px;
  }
